/* XX-Large devices (larger desktops, 1600px and up) */
@media (max-width: 1600px) { 
    .header-logo{
        width: 240px;
    }
    .header-right .sponsor img{
        width: 140px;
    }
    .header-nav .nav-link{
        margin-left: 30px;
    }
    .hero-banner h1{
        font-size: 50px;
    }
    .hero-banner .date{
        font-size: 28px;
    }
    .hero-banner ul li{
        width: 100.6px;
        height: 120.6px;
        margin-right: 13px;
      }
      .hero-banner .number {
        font-size: 40px;
        line-height: 30px;
    }
      .hero-banner .time{
          font-size: 13px;
          line-height: 12px;
          margin-top: 15px;
      }
      
         /*  ========================= number box ========================*/
         .number-box{
          display: flex;
          justify-content: center;
       }
       .line-box{
        display: flex;
      }
         .number-box .line{
          width: 40px;
          height: 1px;
          margin-left: 20px;
          margin-top: 0px;
      }
      .number-box .text{
        position: relative;
        left: 10px;
    }
    #speaker-slider{
      max-width: 1200px;
    }
    .program-box{
        max-width: 1200px;
    }
 
  .slider-content{
    padding-top: 200px;
    padding-bottom: 80px;
   }
   .program-part {
  
    padding-top: 160px;
  }
      
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { 

    .hero-banner{
        padding-top: 150px;
        padding-bottom: 350px;
    }
    .hero-banner h1{
        font-size: 45px;
    }
    .hero-banner .date{
        font-size: 26px;
      }
    .header-nav .nav-link{
        margin-left: 15px;
    }
    #speaker-slider{
      max-width: 1100px;
   }
   .program-box{
    max-width: 1100px;
}
    
    .footer-nav a{
        margin-left: 30px;
    }
}


/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .hero-banner h1{
        font-size: 40px;
    }
    .hero-banner .date{
        font-size: 24px;
      }
    .footer-nav a{
        margin-left: 30px;
    }
    .footer-m{
        margin-top: 36px;
    }
    .header-nav .nav-link {
        margin-left: 0px;
    }
    .footer-nav img{
        margin-bottom: 54px;
    }
    .dropdown-lang{
       margin-left: 0px;
    }
    .tikt{
        padding: 0px 30px;
    }
    .hero-banner ul li{
      width: 80.6px;
      height: 85.6px;
      margin-right: 12px;
      }
      .hero-banner .number {
        font-size: 36px;
        line-height: 20px;
    }
    .hero-banner .time{
        font-size: 10px;
        line-height: 9px;
        margin-top: 15px;
    }
    /* ================== forum =============== */
    .f-one{
      width: 250px;
    }
    .f-two{
      width: 100%;
      height: auto;
    }
    .f-right-contnet{
      padding-left: 6%;
  }
  .f-right-contnet p{
    font-size: 18px;
  }
  .f-right-contnet span{
    font-size: 26px;
  }
  .f-right-contnet h3{
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  /* ============== speaker ============= */
  #speaker-slider{
    max-width: 80%;
  }
  
  .slider-content{
    padding-top: 180px;
    padding-bottom: 50px;
   }
   .program-box .prog-single{
    margin-left: 40px;
   }
   .program-box .p-time{
    font-size: 20px;
   }
   .program-box .prog-single h6{
    font-size: 20px;
   }
   .program-box .prog-single p{
    font-size: 16px;
   }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    /* ============================================ header section  ======================================== */
    .header-logo{
        width: 190px;
      }
      .tikt{
        font-size: 10px;
        padding: 0px 16.5px;
      }
     
      .bars i{
        font-size: 24px;
        margin-right: 26px;
        color: #333333;
       
      }
      .offcanvas-start{
        width: 100%;
      }
      .offcanvas-body{
        padding: 0px !important;
      }
      .offcanvas-header{
        padding: 0px 20px 0px 0px;
        box-shadow: 0 0 73px 0 rgba(0, 0, 0, 0.3);
      }
      .dropdown-lang{
       margin-left: 0px;
       margin-right: 20px;
      }
      .form-select{
        font-size: 12px !important;
      }
      #close-icon{
        color: #333333 !important;
      }
      .header-nav-offcave{
        font-size: 14px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: -0.7px;
        margin-top: 85px;
      }
      .header-nav-offcave .nav-link{
        color: #333333;
        margin-bottom: 46px;
      }
      .offcav-ticket{
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 55px;
        background-color: #f44535;
      }
      .offcav-ticket span{
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 1px;
        color: #fff;
      }

      /* ============== banner =============================== */
      .hero-banner .date{
        font-size: 22px;
      }
      .f-one{
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .f-left-contnet h2{
      font-size: 32px ;
      margin-bottom: 0px;
      text-transform: uppercase;
    } 
    #speaker-slider{
      max-width: 90%;
    }
 
    .speaker-section .card {
        width: 300px;
    }
    .slider-content{
      padding-top: 150px;
     }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
        .container{
            padding-right: 36px;
            padding-left: 36px;
        }
        .btn-custom-one{
          font-size: 10px;
          line-height: 12px;
          padding: 15px;
        }
      /* ============================================ banner section  ======================================== */
      .hero-banner{
        padding-top: 108px;
        padding-bottom: 350px;
        }
      .hero-banner h1{
        font-size: 36px;
      }
      .hero-banner .date{
        font-size: 17px;
        margin: 24px 0px 37px;
      }
      .hero-banner ul li{
        width: 57.6px;
        height: 63.6px;
        border-radius: 10px;
        margin-right: 7.5px;
      }
      .hero-banner .number {
        font-size: 28px;
        line-height: 16px;
    }
    .hero-banner .time{
        font-size: 8px;
        line-height: 9px;
        margin-top: 10px;
    }
      .mobile-spo{
        padding-top: 18px;
        padding-bottom: 18px;
        
      }
      /* ============================================ forum section  ======================================== */
      .forum-section .row{
        margin: 0px;
      }
      .number-box{
        left: 18px;
        top: 28px;
      }
      .number-box .text{
        font-size: 9px;
        letter-spacing: 0.9px;
      }
      .number-box .line{
        width: 10px;
      }
      .number-box img{
        width: 42px;
      }
     
      .forum-section {
        background-position: center center;
        background-size: cover;
        color: #fff;
        padding-top: 130px;
        padding-bottom: 30px;
      
    }
  
    .f-two{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .f-right-contnet{
      padding-left: 0px;
    }
    .f-right-contnet span{
      font-size: 22px;
      letter-spacing: normal;
      font-weight: 600;
      margin-bottom: 10px;
      display: block;
    }
    .f-right-contnet h3{
      font-size: 18px;
      letter-spacing: -0.9px;
      font-weight: normal;
      margin-bottom: 33px;
    }
    .f-right-contnet p{
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 35px;
    }
    /* ===================================== speaker section  ======================================== */
    .speaker-section{
      background: url(../images/mobile-Speakers-bg.png) no-repeat center center;  
      background-size: cover;
      width: 100%;
      background-attachment: fixed;
    }
    .owl-theme .owl-nav.disabled+.owl-dots{
      margin-top: 50px;
    }
    .program-part{
      background-color: #fff;
      padding-top: 130px;
      padding-bottom: 30px;
  } 
  .program-box{
    border-radius: 0px 0px 5px 5px;
  }
  .program-box .heading{
    border-radius: 5px 5px 0px 0px;
    box-shadow: none;
    height: 60px;
    margin-bottom: 26px;
  }
  .program-box .heading h4{
    font-size: 18px;
    line-height: 0px;
    letter-spacing: -0.9px;
  }
  .program-bottom-text{
    color: #333333;
    padding: 23px 20px 0px;
    
  }
  .program-bottom-text p{
    font-size: 11px;
    font-weight: bold;
    line-height: 1.18;
    letter-spacing: -0.55px;
    font-weight: normal;
    
  }
  .program-bottom-text span{
    font-weight: normal;
}
  .program-box .timing{
    background-color: #fff;
  }
  .program-part .number-box .text{
    color: #333333;
  }
  .program-part .number-box .line{
    background-color: #333333;
  }
    .speaker-section .card{
      width: 276px;
    }
    .slider-content{
      padding-top: 122px;
      padding-bottom: 60px;
     }
    .owl-carousel .owl-stage{
      left: 36px;
    }
    .speaker-section .card .card-body h5{
      font-size: 18px;
    }
    .slider-content .card-text{
      font-size: 12px;
    }
    .speaker-section .card .card-body {
      padding: 15px 23px 20px;
  }
  #speaker-slider{
    max-width: 100%;
  }
  .program-part .container-fluid{
    padding-right: 16px;
    padding-left: 16px;
  }


  
  .program-box .prog-single {
    padding-top: 5px;
    padding-bottom:23px;
    margin-right: 20px;
    margin-left: 20px;
}
.program-box{
  padding-bottom: 0px;
  
}

.program-box .p-time{
  margin-top: 0px;
  margin-left: 0px;
  font-size: 18px;
  color: #f44535;
  margin-right: 20px;
  margin-left: 20px;
  
}
.color-red{
  color: #2f2f2f;
}
.program-box .prog-single h6{
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: -1.35px;
  margin-bottom: 10px;
}
.program-box .prog-single>span{
  font-size: 11px;
  font-weight: 800;
  line-height: 1.36;
  letter-spacing: -0.55px;
  margin-bottom: 10px;
  display: block;
}
.program-box .prog-single p{
  font-size: 13px;
}



      /* ==================================== footer section  ================================== */
      .footer-section{
        padding-top: 60px;
        padding-bottom: 38px;
    }
    .footer-nav img{
        width: 174px;
    }
    .footer-nav a{
        margin-left: 0px;
       margin-bottom: 12px;
    }
   
    .footer-mobile-nav a{
        color: #333333;
        font-size: 9px;
    }
    .footer-mobile-nav .fa-facebook{
        font-size: 24px;
    }
    .footer-m img{
        margin-bottom: 54px;
        margin-left: 0px;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .hero-banner{
        background: url(../images/mobile-hero-bg.svg) no-repeat;
        background-position: center center;
        background-size: cover;
    }
   
  
 }
/* Small devices (landscape phones, 390px and up) */
@media (max-width: 380px) { 
  .header-logo{
    width: 60%;
    height: 100%;
  }
  .offcanvas-header a{
    width: 60%;
    height: 100%;
  }
   
 }
 







